{% extends '::base.html.twig' %}


{% block body -%}

<div class="col-md-10">
            
    <div class="panel-body">
        <div class="profile-blog blog-border">
            <h2 class="panel-title heading-sm pull-left" style="padding:0 0 10px 10px;font-weight: bold;">Add Product</h2>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
{# 									{{ form_label(form.list, 'mailchimp.api_key'|trans() ~ ' * ') }}#}
                                    {{ form_errors(form.product) }}
                                    {{ form_label(form.product) }}
                                    {{ form_widget(form.product) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6">
{# 									{{ form_label(form.list, 'mailchimp.api_key'|trans() ~ ' * ') }}#}
                                    {{ form_errors(form.quantity) }}
                                    {{ form_label(form.quantity) }}
                                    {{ form_widget(form.quantity) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 " style="margin-bottom: 0;">
                                    {{ form_widget(form.add, {'disabled': addDisabled, 'attr': {'class': 'btn-u btn-u-green'}, 'icon': 'glyphicon glyphicon-check'}) }}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}  
        </div>
        
        <h1>Order Items</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for product in arrProduct %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ arrQuantity[loop.index0] }}</td>
                <td> <a href="{{ path('order_product_delete', { 'id': product.id }) }}">delete</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('order_product_buy') }}">Buy</a>
    </div>
</div>

{% endblock %}