<!DOCTYPE html>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger fade in" style="padding: 10px;">
            <strong>Oh snap!</strong> {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel panel-green margin-bottom-40" style="border-color: #72c02c;">
        <div class="panel-heading" style="background: #72c02c;">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Add a product</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {'attr': {'class': 'form-inline', 'role': 'form'},}) }}
                <div class="form-group">
                    {{ form_errors(form.product) }}
                    {{ form_widget(form.product) }}
                </div>

                 .<div class="form-group">
                    {{ form_errors(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                </div>
                {{ form_widget(form.add, {'disabled': addDisabled, 'attr': {'class': 'btn-u btn-u-default'},}) }}

            {{ form_end(form) }}
        </div>
    </div>

    <div class="panel panel-sea margin-bottom-40" style="border-color: #72c02c;">
        <div class="panel-heading" style="background: #72c02c;">
            <h3 class="panel-title"><i class="glyphicon glyphicon-list"></i> Order Items</h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in arrProduct %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ arrQuantity[loop.index0] }}</td>
                    <td> <a class="btn btn-danger btn-xs delete-product" href="{{ path('order_product_delete', { 'id': product.id }) }}"><i class="fa fa-trash-o"></i> delete</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn-u" href="{{ path('order_product_buy') }}"><i class="fa fa-shopping-cart"></i> Buy</a>
    </div>
    
<script type="text/javascript" src="{{ asset('bundles/app/assets/plugins/jquery/jquery.min.js') }}"></script>
<script type="text/javascript">
     
    $(function() {
        $('.form-inline').submit(function(){
            
            $.post( $(this).action, $(this).serialize())
            .done(function( data ) {
                $('#form-container').html(data);
            });
            return false;
        });
        
        $('a.delete-product').click(function(){
            $.ajax({method: "POST", url: this.href})
            .done(function( data ) {
                $('#form-container').html(data);
            });
            return false;
        });
    });
        
</script>
